In [35]:
import pandas as pd
import os
import numpy as np
import math

In [36]:
def build_has_description(x):
    if pd.isnull(x):
        return 0
    else:
        return 1

In [39]:
for country_code in ['MX', 'BR']:
    path = f'/home/manuto/Downloads/data_{country_code}_users'
    predictions_df = pd.read_csv(os.path.join(path, f'Result_{country_code}_250_users'), sep='\t', header=None)
    predictions_df.columns = ['id', 'gender_predicted', 'age_predicted', 'org_predicted']
    user_info_df = pd.read_csv(os.path.join(path, f'User_Info_{country_code}.csv'))
    total_df = pd.merge(user_info_df, predictions_df, on=['id'])
    new_columns = ['gender_true', 'age_true', 'org_true', 'default_picture', 'has_description', 'real_name', 'real_picture', 'bot', 'last_active']
    for new_column in new_columns:
        if new_column == 'has_description':
            total_df[new_column] = total_df['description'].apply(build_has_description)
        else:
            total_df[new_column] = np.nan
    total_df = total_df.sample(n=100).reset_index(drop=True)
    total_df.to_csv(f"/home/manuto/Downloads/data_{country_code}_users/demographics_labelling_{country_code}.csv")

In [5]:
user_info_df.shape

(250, 6)

In [6]:
predictions_df.shape

(250, 4)

In [13]:
total_df = pd.merge(user_info_df, predictions_df, on=['id'])
total_df.head()

,id,name,screen_name,description,lang,img_path,gender_predicted,age_predicted,org_predicted
0,1000025378,hermosa guadalupe,mariaguadalupe5,NaN,es,/scratch/spf248/twitter/data/classification/MX...,female,30-39,non-org
1,1000555675641155584,AgustdDios,AgustdDios,"Kpop brou que esperabas?\nTomboy 16 años, asi ...",es,/scratch/spf248/twitter/data/classification/MX...,male,<=18,non-org
2,100060977,Miss Pucci♛,sab_stripper,stripper ripper BITCH,es,/scratch/spf248/twitter/data/classification/MX...,female,19-29,non-org
3,100061752,Kev In,Onlykevinn,El desinterés humanista es la muerte de nuestr...,es,/scratch/spf248/twitter/data/classification/MX...,male,<=18,non-org
4,1000930958,Thania Barrera',barrera0397,#Dios nos ayudara'AR[3]\r\nLo importante no es...,es,/scratch/spf248/twitter/data/classification/MX...,female,19-29,non-org

In [34]:
total_df['has_description'] = total_df['description'].apply(build_has_description)
total_df.head()

,id,name,screen_name,description,lang,img_path,gender_predicted,age_predicted,org_predicted,has_description
0,1000025378,hermosa guadalupe,mariaguadalupe5,NaN,es,/scratch/spf248/twitter/data/classification/MX...,female,30-39,non-org,0
1,1000555675641155584,AgustdDios,AgustdDios,"Kpop brou que esperabas?\nTomboy 16 años, asi ...",es,/scratch/spf248/twitter/data/classification/MX...,male,<=18,non-org,1
2,100060977,Miss Pucci♛,sab_stripper,stripper ripper BITCH,es,/scratch/spf248/twitter/data/classification/MX...,female,19-29,non-org,1
3,100061752,Kev In,Onlykevinn,El desinterés humanista es la muerte de nuestr...,es,/scratch/spf248/twitter/data/classification/MX...,male,<=18,non-org,1
4,1000930958,Thania Barrera',barrera0397,#Dios nos ayudara'AR[3]\r\nLo importante no es...,es,/scratch/spf248/twitter/data/classification/MX...,female,19-29,non-org,1

In [19]:
if math.isnan(total_df['description'][0]):
    print('what?')

what?

In [10]:
# add new columns
new_columns = ['gender_true', 'age_true', 'org_true', 'default_picture', 'has_description', 'real_name', 'real_picture', 'bot', 'last_active']
for new_column in new_columns:
    total_df[new_column] = np.nan

In [11]:
total_df.head()

,id,name,screen_name,description,lang,img_path,gender_predicted,age_predicted,org_predicted,gender_true,age_true,org_true,default_picture,has_description,real_name,real_picture,bot,last_active
0,1000025378,hermosa guadalupe,mariaguadalupe5,NaN,es,/scratch/spf248/twitter/data/classification/MX...,female,30-39,non-org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000555675641155584,AgustdDios,AgustdDios,"Kpop brou que esperabas?\nTomboy 16 años, asi ...",es,/scratch/spf248/twitter/data/classification/MX...,male,<=18,non-org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100060977,Miss Pucci♛,sab_stripper,stripper ripper BITCH,es,/scratch/spf248/twitter/data/classification/MX...,female,19-29,non-org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100061752,Kev In,Onlykevinn,El desinterés humanista es la muerte de nuestr...,es,/scratch/spf248/twitter/data/classification/MX...,male,<=18,non-org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000930958,Thania Barrera',barrera0397,#Dios nos ayudara'AR[3]\r\nLo importante no es...,es,/scratch/spf248/twitter/data/classification/MX...,female,19-29,non-org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
total_df = total_df.sample(n=100).reset_index(drop=True)

(100, 18)