In [3]:
import pandas as pd
import os

In [2]:
path = '/home/manuto/Documents/world_bank/bert_twitter_labor/twitter-labor-data/data/train_test/US'

In [56]:
folder_list = ['feb9_iter1', 'feb13_iter2', 'feb16_iter3']
labels = ['is_unemployed', 'is_hired_1mo', 'lost_job_1mo', 'job_search', 'job_offer']
results_dict = dict()
for folder in folder_list:
    path_raw = os.path.join(path, folder, 'raw', 'labels.parquet')
    df = pd.read_parquet(path_raw)
    df = df[labels]
    df = df.apply(lambda x: x.value_counts(dropna=False)).T.stack()
    df_dict = df.to_dict()
    df_dict = {key: value for key,value in df_dict.items() if not key[1] == 'unsure'} 
    results_dict[folder] = df_dict

In [57]:
results_dict

{'feb9_iter1': {('is_unemployed', 'no'): 485.0,
  ('is_unemployed', 'yes'): 8.0,
  ('is_hired_1mo', 'no'): 486.0,
  ('is_hired_1mo', 'yes'): 5.0,
  ('lost_job_1mo', 'no'): 491.0,
  ('job_search', 'no'): 475.0,
  ('job_search', 'yes'): 17.0,
  ('job_offer', 'no'): 400.0,
  ('job_offer', 'yes'): 92.0},
 'feb13_iter2': {('is_unemployed', 'no'): 462.0,
  ('is_unemployed', 'yes'): 23.0,
  ('is_hired_1mo', 'no'): 477.0,
  ('is_hired_1mo', 'yes'): 9.0,
  ('lost_job_1mo', 'no'): 479.0,
  ('lost_job_1mo', 'yes'): 7.0,
  ('job_search', 'no'): 463.0,
  ('job_search', 'yes'): 24.0,
  ('job_offer', 'no'): 383.0,
  ('job_offer', 'yes'): 104.0},
 'feb16_iter3': {('is_unemployed', 'no'): 464.0,
  ('is_unemployed', 'yes'): 14.0,
  ('is_hired_1mo', 'no'): 465.0,
  ('is_hired_1mo', 'yes'): 13.0,
  ('lost_job_1mo', 'no'): 478.0,
  ('lost_job_1mo', 'yes'): 1.0,
  ('job_search', 'no'): 439.0,
  ('job_search', 'yes'): 39.0,
  ('job_offer', 'no'): 389.0,
  ('job_offer', 'yes'): 89.0}}

In [58]:
df = pd.DataFrame(data=results_dict)
df.head()

                   feb9_iter1  feb13_iter2  feb16_iter3
is_unemployed no        485.0        462.0        464.0
              yes         8.0         23.0         14.0
is_hired_1mo  no        486.0        477.0        465.0
              yes         5.0          9.0         13.0
lost_job_1mo  no        491.0        479.0        478.0

In [44]:
df = df.round(3)
df.head()

                      feb9_iter1  feb13_iter2  feb16_iter3
is_unemployed no           0.984        0.949        0.969
              yes          0.016        0.047        0.029
is_hired_1mo  no           0.986        0.979        0.971
              unsure       0.004        0.002        0.002
              yes          0.010        0.018        0.027

In [59]:
df.to_csv(os.path.join(path, 'share_positive_per_iteration.csv'))

In [60]:
folder_list = ['feb9_iter1', 'feb13_iter2', 'feb16_iter3']
labels = ['is_unemployed', 'is_hired_1mo', 'lost_job_1mo', 'job_search', 'job_offer']
results_dict = dict()
for folder in folder_list:
    path_raw = os.path.join(path, folder, 'raw', 'all_labels_with_text.parquet')
    df = pd.read_parquet(path_raw)
    df = df[labels]
    df = df.apply(lambda x: x.value_counts(dropna=False)).T.stack()
    df_dict = df.to_dict()
    df_dict = {key: value for key,value in df_dict.items() if not key[1] == 'unsure'} 
    results_dict[folder] = df_dict

In [63]:
df = pd.DataFrame(data=results_dict)
df.head()

                   feb9_iter1  feb13_iter2  feb16_iter3
is_unemployed no         4213         4675         5139
              yes         818          841          855
is_hired_1mo  no         4698         5175         5640
              yes         341          350          363
lost_job_1mo  no         4764         5243         5721

In [64]:
df.to_csv(os.path.join(path, 'overall_share_positive_per_iteration.csv'))

In [25]:
df = df[labels]
df = df.apply(lambda x: x.value_counts()).T.stack()

In [29]:
df.to_dict()

{('is_unemployed', 'no'): 485.0,
 ('is_unemployed', 'yes'): 8.0,
 ('is_hired_1mo', 'no'): 486.0,
 ('is_hired_1mo', 'unsure'): 2.0,
 ('is_hired_1mo', 'yes'): 5.0,
 ('lost_job_1mo', 'no'): 491.0,
 ('lost_job_1mo', 'unsure'): 2.0,
 ('job_search', 'no'): 475.0,
 ('job_search', 'unsure'): 1.0,
 ('job_search', 'yes'): 17.0,
 ('job_offer', 'no'): 400.0,
 ('job_offer', 'unsure'): 1.0,
 ('job_offer', 'yes'): 92.0}

In [16]:
path_raw = os.path.join(path, folder_list[1], 'raw', 'labels.parquet')
df1 = pd.read_parquet(path_raw)
df1 = df1[labels]
df1 = df1.apply(lambda x: x.value_counts()).T.stack()
#df1.columns = [folder_list[1]]

In [17]:
df1.head()

is_unemployed  no        462.0
               unsure      2.0
               yes        23.0
is_hired_1mo   no        477.0
               unsure      1.0
dtype: float64

In [ ]:
.to_csv(os.path.join(path, 'test.csv'))