In [1]:
import pandas as pd
import math

In [2]:
def determine_threshold(tweet_number_start,tweet_number_end, df):
    NB_TOTAL = 0
    NB_POS = 0
    score_list = []
    for i in range(tweet_number_start, tweet_number_end):
        if not math.isnan(df['label'][i]):
            NB_TOTAL = NB_TOTAL + 1
            NB_POS = NB_POS + df['label'][i]
        score_list.append(df['pos_model'][i])
    share_POS = NB_POS/NB_TOTAL
    score_list.sort()
    print('Tweet range ', tweet_number_start, "-", tweet_number_end)
    print('Share of positive tweets: ', share_POS)
    print('Threshold: ', score_list[int((tweet_number_end - tweet_number_start)/2)])

## BERT filtered is_hired_1mo

In [8]:
is_hired_1mo_bert_filtered_df = pd.read_csv("/home/manuto/Documents/world_bank/bert_twitter_labor/code/twitter/code/12-active_learning/threshold_determination/BERT_ST_filtered_ALL_is_hired_1mo_labelled.csv")
is_hired_1mo_bert_filtered_df.head()

,tweet_id,pos_model,text,label
0,"9,5729292936575E+017",0.972573,"I start at my new job today, I’m very excited ...",1.0
1,"4,65323644261245E+017",0.972140,One more week and I'll be back at my old job m...,0.0
2,"7,92228637185601E+017",0.972117,Finna get my part time job back on the weekend...,1.0
3,"4,58709319165301E+017",0.972028,I happily have a new job I’m starting at on Mo...,1.0
4,"6,50868814968549E+017",0.971760,"First night at my new job now, wish a rebel lu...",1.0

In [9]:
determine_threshold(0, 100, is_hired_1mo_bert_filtered_df)

Tweet range  0 - 100
Share of positive tweets:  0.59
Threshold:  0.9704547818365672

In [10]:
determine_threshold(100, 200, is_hired_1mo_bert_filtered_df)

Tweet range  100 - 200
Share of positive tweets:  0.47
Threshold:  0.9694666071952668

In [11]:
determine_threshold(200, 300, is_hired_1mo_bert_filtered_df)

Tweet range  200 - 300
Share of positive tweets:  0.56
Threshold:  0.9689253410732976

In [12]:
determine_threshold(300, 400, is_hired_1mo_bert_filtered_df)

Tweet range  300 - 400
Share of positive tweets:  0.5151515151515151
Threshold:  0.9684596151437846

## BERT filtered is_unemployed

In [17]:
is_unemployed_bert_filtered_df = pd.read_csv("/home/manuto/Documents/world_bank/bert_twitter_labor/code/twitter/code/12-active_learning/threshold_determination/BERT_ST_filtered_ALL_is_unemployed_labelled.csv")
is_unemployed_bert_filtered_df.head()

,tweet_id,pos_model,text,label
0,"5,91045121585652E+017",0.939579,Hugo Sanchez got fired from Pachuca Lo,0.0
1,"3,24967552113582E+017",0.939217,I got fired today.,1.0
2,"6,10989385102721E+017",0.939095,i just got fired,1.0
3,"7,49258332452651E+017",0.938995,Definitely got fired today,1.0
4,"3,42795311279907E+017",0.938987,Wait George Karl got fired,0.0

In [18]:
determine_threshold(0, 100, is_unemployed_bert_filtered_df)

Tweet range  0 - 100
Share of positive tweets:  0.46464646464646464
Threshold:  0.9344782497822344

In [19]:
determine_threshold(100, 200, is_unemployed_bert_filtered_df)

Tweet range  100 - 200
Share of positive tweets:  0.574468085106383
Threshold:  0.9290245287594178

In [20]:
determine_threshold(200, 300, is_unemployed_bert_filtered_df)

Tweet range  200 - 300
Share of positive tweets:  0.5555555555555556
Threshold:  0.9260840479194328

## Job search

In [22]:
job_search_df = pd.read_csv("/home/manuto/Documents/world_bank/bert_twitter_labor/code/twitter/code/12-active_learning/threshold_determination/archive/BERT_ST_filtered_ALL_job_search_labelled.csv")
job_search_df.head(n=104)

,tweet_id,pos_model,text,label
0,"7,70009655783354E+017",0.992344,i have a job interview in an hour and im a ner...,1.0
1,"4,7788501398417E+017",0.992331,so i got two job interviews next week and im a...,1.0
2,"9,18868142855565E+017",0.992232,Got my first job interview in almost 5 years. ...,1.0
3,"7,30763066963579E+017",0.992214,If you know anybody hiring please let me know....,1.0
4,"6,34028520667222E+017",0.992193,"So many job interviews, so little time.",1.0
...,...,...,...,...
99,"6,13929130782921E+017",0.991874,job searching more jobs in los angeles,1.0
100,"5,98277246831436E+017",0.900000,The Perfect Job\nA woman had been interviewing...,0.0
101,"6,84425536915902E+017",0.900000,RT @kf: SCOWLING DISTRIBUTED SYSTEMS\n\nthat i...,NaN
102,"7,93310885322392E+017",0.900001,RT @Logic301: Finaly got my costume for Hallow...,NaN
103,"4,11591007118299E+017",0.900003,“@MsTamarShawnice: I should call my boss like ...,0.0

In [23]:
determine_threshold(0, 100, job_search_df)

Tweet range  0 - 100
Share of positive tweets:  0.96
Threshold:  0.9920010636268158

In [24]:
determine_threshold(100, 200, job_search_df)

Tweet range  100 - 200
Share of positive tweets:  0.033707865168539325
Threshold:  0.8999998130395849

In [25]:
determine_threshold(200, 300, job_search_df)

Tweet range  200 - 300
Share of positive tweets:  0.0449438202247191
Threshold:  0.8000028462056282

## Job offer

In [26]:
job_offer_df = pd.read_csv("/home/manuto/Documents/world_bank/bert_twitter_labor/code/twitter/code/12-active_learning/threshold_determination/archive/BERT_ST_filtered_ALL_job_offer_labelled.csv")
job_offer_df.head()

,tweet_id,pos_model,text,label
0,"5,21889990939128E+017",0.916162,"Recent #CDLjobs #GraduatesJobs , Iowa: Recent ...",1.0
1,"5,17030063217578E+017",0.915846,"Are you a Vans #Store #Manager (Kennesaw, GA) ...",1.0
2,"5,17092935759045E+017",0.915625,Are you a Senior #Paralegal (Cigna-#HealthSpri...,1.0
3,"5,19873700884406E+017",0.915558,"Are you a Senior, #PMO Manager (#Logistics) in...",1.0
4,"5,20556726316433E+017",0.915197,Are you a Strategic #Account #Manager (Seattle...,1.0

In [27]:
determine_threshold(0, 100, job_offer_df)

Tweet range  0 - 100
Share of positive tweets:  1.0
Threshold:  0.9125781871605114

In [28]:
determine_threshold(100, 200, job_offer_df)

Tweet range  100 - 200
Share of positive tweets:  1.0
Threshold:  0.8999929521189834

In [29]:
determine_threshold(200, 300, job_offer_df)

Tweet range  200 - 300
Share of positive tweets:  0.6666666666666666
Threshold:  0.8000014686167735

In [30]:
determine_threshold(300, 400, job_offer_df)

Tweet range  300 - 400
Share of positive tweets:  0.05405405405405406
Threshold:  0.7000012851171143

In [31]:
determine_threshold(400, 500, job_offer_df)

Tweet range  400 - 500
Share of positive tweets:  0.028169014084507043
Threshold:  0.6000016569328966

In [32]:
determine_threshold(500, 600, job_offer_df)

Tweet range  500 - 600
Share of positive tweets:  0.0
Threshold:  0.49999978

In [33]:
determine_threshold(600, 650, job_offer_df)

Tweet range  600 - 650
Share of positive tweets:  0.030303030303030304
Threshold:  0.40000005186596055

## Lost_job_1mo

In [34]:
lost_job_1mo_df = pd.read_csv("/home/manuto/Documents/world_bank/bert_twitter_labor/code/twitter/code/12-active_learning/threshold_determination/archive/BERT_ST_filtered_ALL_lost_job_1mo_labelled.csv")
lost_job_1mo_df.head()

                tweet_id  pos_model                               text  label
0  3,23133718594208E+017   0.982899               so i got fired today    1.0
1   6,3969331850333E+017   0.982869        BTW, I quit my job today 😊😊    1.0
2  4,08745423265071E+017   0.982564               I quit my job today!    1.0
3  3,84349791045448E+017   0.982556           So I quit my job today..    1.0
4  9,79190354544091E+017   0.982344  I️ really quit my job today 😂 wow    1.0

In [35]:
determine_threshold(0, 100, lost_job_1mo_df)

Tweet range  0 - 100
Share of positive tweets:  0.6404494382022472
Threshold:  0.9803600722376238

In [36]:
determine_threshold(100, 200, lost_job_1mo_df)

Tweet range  100 - 200
Share of positive tweets:  0.023529411764705882
Threshold:  0.9000101625806953

In [37]:
determine_threshold(200, 300, lost_job_1mo_df)

Tweet range  200 - 300
Share of positive tweets:  0.0
Threshold:  0.8000049693745142