In [37]:
import pandas as pd

In [38]:
def convert_labels_to_int(label):
    if label == 'yes':
        return 1
    elif label == 'no':
        return 0

In [39]:
all_data_df = pd.read_pickle('/home/manuto/Documents/world_bank/bert_twitter_labor/code/twitter/data/jun3_10Klabels/labels.pkl')
print(all_data_df.shape[0])
all_data_df.columns = ['tweet_id', 'text', 'is_unemployed', 'lost_job_1mo', 'job_search', 'is_hired_1mo','job_offer']
all_data_df = all_data_df[['tweet_id', 'text', 'lost_job_1mo', 'is_unemployed', 'job_search', 'is_hired_1mo', 'job_offer']]
# convert labels to int
for label in ['is_unemployed', 'lost_job_1mo', 'job_search', 'is_hired_1mo', 'job_offer']:
    all_data_df[label] = all_data_df[label].apply(convert_labels_to_int)
    all_data_df = all_data_df[all_data_df[label].notna()].reset_index(drop=True)
# train/test split
train_df = all_data_df.sample(frac=0.7, random_state=0)
eval_df = all_data_df.drop(train_df.index)
# create eval and holdout set
#eval_df = intermediary_df.sample(frac=0.5, random_state=0)
#holdout_df = intermediary_df.drop(eval_df.index)

train_df = train_df.reset_index(drop=True)
eval_df = eval_df.reset_index(drop=True)
#holdout_df = holdout_df.reset_index(drop=True)

9746

In [40]:
train_df.head()

,tweet_id,text,lost_job_1mo,is_unemployed,job_search,is_hired_1mo,job_offer
0,370566045490098176,I'm am currently lolling for a new job in eith...,0.0,0.0,1.0,0.0,0.0
1,373883790344880128,Can a NFL player who gets laid off file for Un...,0.0,0.0,0.0,0.0,0.0
2,403659108471275520,My new job just called me cause they haven't h...,0.0,0.0,0.0,0.0,0.0
3,287191263659319297,"Unemployed? Buy An iPhone: By Reuven Gorsht, V...",0.0,0.0,0.0,0.0,0.0
4,735182613237768192,I thought it was gunna get worse before it got...,1.0,1.0,0.0,0.0,0.0

In [41]:
eval_df.head()

,tweet_id,text,lost_job_1mo,is_unemployed,job_search,is_hired_1mo,job_offer
0,470867540739383296,Is it true? 47% of Unemployed Americans Have J...,0.0,0.0,0.0,0.0,0.0
1,727874210375344128,baby I'm a boss and ya man unemployed,0.0,1.0,0.0,0.0,0.0
2,722397405702942720,Baby I'm a boss and ya man unemployed,0.0,0.0,0.0,0.0,0.0
3,329054045752942592,Girl you know I'm unemployed trynna be fancy,0.0,1.0,0.0,0.0,0.0
4,292521070685208576,"If a girl tells me that she is a socialite, is...",0.0,0.0,0.0,0.0,0.0

In [42]:
for label in ['is_unemployed', 'lost_job_1mo', 'job_search', 'is_hired_1mo', 'job_offer']:
    print(label)
    saved_train_df = train_df[['text', label]]
    saved_eval_df = eval_df[['text', label]]
    #saved_holdout_df = holdout_df[['text',label]]
    saved_train_df.columns = ['text','class']
    saved_eval_df.columns = ['text', 'class']
    #saved_holdout_df.columns = ['text', 'class']    
    saved_train_df.to_csv('/home/manuto/Documents/world_bank/bert_twitter_labor/code/twitter/data/jun3_10Klabels/data_binary_pos_neg_unbalanced/train_{}.csv'.format(label), index=False)
    saved_eval_df.to_csv('/home/manuto/Documents/world_bank/bert_twitter_labor/code/twitter/data/jun3_10Klabels/data_binary_pos_neg_unbalanced/val_{}.csv'.format(label),index=False)
    #saved_holdout_df.to_csv('/home/manuto/Documents/world_bank/bert_twitter_labor/code/twitter/data/jun3_10Klabels/holdout_iter0/holdout_{}.csv'.format(label), index=False)

is_unemployed
lost_job_1mo
job_search
is_hired_1mo
job_offer

In [28]:
eval_df = pd.read_csv('/home/manuto/Documents/world_bank/bert_twitter_labor/code/twitter/data/jun3_10Klabels/data_binary_pos_neg_unbalanced/train_is_unemployed.csv', lineterminator='\n')
eval_df.head()

                                                text  class
0  I'm am currently lolling for a new job in eith...    0.0
1  Can a NFL player who gets laid off file for Un...    0.0
2  My new job just called me cause they haven't h...    0.0
3  Unemployed? Buy An iPhone: By Reuven Gorsht, V...    0.0
4  I thought it was gunna get worse before it got...    1.0

In [30]:
eval_df = pd.read_csv('/home/manuto/Documents/world_bank/bert_twitter_labor/code/twitter/data/jun3_10Klabels/data_binary_pos_neg_unbalanced/val_is_unemployed.csv', lineterminator='\n')
eval_df.head()

                                                text  class
0  Looking to switch careers? Or just simply need...    0.0
1  So I was working third shift last week now I'm...    0.0
2  Quintiles posted a job you might be interested...    0.0
3  I am looking for FOUR new It Works #business p...    0.0
4  I quit my job yesterday and start my new job o...    1.0

In [31]:
eval_df.shape

(1432, 2)