In [1]:
from timeit import default_timer as timer
import sys
import os
import numpy as np
import pandas as pd
import re
import string
import reverse_geocoder as rg
from iso3166 import countries

In [2]:
cutoff = 25
print("# Min number of sampled users:", cutoff)

path_to_output_files = '../../data/locations/profiles/geocoding/'

# Min number of sampled users: 25

In [3]:
print("Load...")
start = timer()

locations = pd.read_pickle(path_to_output_files+'account-locations-with-geocoordinates.pkl')
print('# Locations:',locations.shape[0])
print('#Users At Sampled Locations:',locations['N'].sum())

print("Done in", round(timer()-start), "sec")

Load...
# Locations: 4416858
#Users At Sampled Locations: 27081990
Done in 2 sec

In [4]:
print('Remove locations with not enough sampled users...')
start = timer()

# Many valid locations indicate multiple locations
# Could parse locations with low N later on

locations = locations.loc[(locations['N']>=cutoff)].copy()
print('# Locations:',locations.shape[0])
print('# Users At Sampled Locations:',locations['N'].sum())

print("Done in", round(timer()-start), "sec")

Remove locations with not enough sampled users...
# Locations: 44027
# Users At Sampled Locations: 20691832
Done in 1 sec

In [5]:
import string
bad_locations = []
with open(path_to_output_files+'account-locations-bad.txt', 'r', encoding='utf-8') as f:
    for line in f:
        cleaned_line = line.lower().strip().strip('\n').translate(str.maketrans('', '', string.punctuation))
        bad_locations.append(cleaned_line)
bad_locations = sorted(set(bad_locations))
print('# Some Bad Locations:',len(bad_locations))
print(' \n '.join(bad_locations))

# Some Bad Locations: 1367


  ͡° ͜ʖ ͡°
 a
 a place
 ab
 abbey road
 abc
 above you
 ac
 acampamento meiosangue
 achter je
 ad ♥
 ad♥
 africa
 afrika
 aincrad
 aki
 al fondo a la derecha
 alberti
 albion
 all around
 all around the world
 all over
 all over the place
 all over the world
 allah swt
 allahs
 allianz arena
 almost heaven
 ambon manise
 america latina
 américa latina
 andalasia
 andromeda
 andromeda galaxy
 anfield
 anfield liverpool
 anfield road
 anfieldliverpool
 another world
 antartica
 anytown usa
 anywhere
 anywhere and everywhere
 anywhere but here
 anywhere in the world
 anywhere you want
 aor
 aqui
 aqui y alla
 aquí
 aquí y ahora
 aquí y allá
 araf
 arendelle
 arg obvio
 arkham asylum
 arkham city
 around
 around the world
 around you
 arsenal
 asgard
 ashburton grove
 asia
 asia pacific
 asia tenggara
 asian
 at home
 at my house
 atlantic ocean
 atlantis
 atlien
 aussie
 avalon
 azeroth
 azkaban
 b
 babel
 babilonia
 babylon
 ball so hard university
 based world
 basedworld
 basketball court
 bat country
 batman
 battery city
 bayern
 be
 beach
 beacon hills
 bed
 bedroom
 behind you
 belieber
 bello
 belmont
 belzonte
 benelux
 bermuda triangle
 betawi
 between heaven and hell
 between here and there
 beşi̇ktaşk
 bhumi arema
 bieberland
 bieberlandia
 big blue nation
 big d
 bikini bottom
 bikinibroek
 bize her yer trabzon
 bj
 bk
 black country
 blighty
 bmanga
 bonnie scotland
 bora bora
 brew city
 brisvegas
 brizzle
 broadway
 broken arrow
 btown
 buckeye nation
 bull city
 bumi
 bumi allah
 bumi allah swt
 bumi alloh
 bumi pertiwi
 bumi serpong damai
 bumi اَللّهُ
 c
 cali ☀️
 californication
 cali☀
 camelot
 camp nou
 camp nou barcelona
 candy land
 candyland
 caribbean
 carpe diem
 casa
 casita
 castle
 cc
 cehennemin dibi
 central america
 central perk
 cerca de ti
 cg
 cgy
 ch
 chapinlandia
 chasing my dreams
 chez moi
 chia
 chicagooo
 chile♥
 chilito
 chinatown
 chiraq
 chiraq drillinois
 chs
 chucktown
 citizen of the world
 city of evil
 ciudad gotica
 ciudad gótica
 ciudadana del mundo
 ciudadano del mundo
 classified
 cloud
 cloud nine
 club paradise
 cm
 cn
 coast to coast
 college
 condet
 coney island
 corinthians
 coruscant
 coxa do harry
 cpt
 crooklyn
 d
 da burg
 da hood
 da ville
 dagobah
 dark paradise
 dark side of the moon
 dc
 de madrid al cielo
 death star
 debajo de tu cama
 defectuoso
 depends on the day
 dersaadet
 desconocida
 desubicada
 desubicado
 detras de ti
 detrás de ti
 df
 dfctuoso
 di bumi allah
 di hati mu
 di hatimu
 di rumah
 di sini
 diatas bumi dibawah langit
 digital world
 dihatimu
 dimana aja boleh
 dimana mana
 dimana mana hatiku senang
 dimanamana
 dimanamana hatiku senang
 directioner
 directionerland
 dirty jerz
 dirumah
 disini
 disney land
 disney world
 disneyland
 dk
 don benito
 down under
 downtown
 dp
 dps
 dream
 dream land
 dream world
 dreamland
 dreams
 dreamville
 dressrosa
 dsm
 dtown
 ducked off
 dunia
 dunia maya
 dunya
 dünya
 e
 e a r t h
 earth
 earth
 earth milky way
 earth milky way galaxy
 east
 east africa
 east coast
 east side
 eastside
 eastwood
 ecu
 eden
 el
 el mundo
 elizabethtown
 elsewhere
 em casa
 em casadefectuoso
 emirates stadium
 empire state of mind
 en algun lugar
 en algun lugar de un gran pais
 en algun lugar del mundo
 en alguna parte del mundo
 en algún lugar
 en algún lugar de un gran país
 en algún lugar del mundo
 en casa
 en cualquier lugar
 en el mundo
 en la ciudad de la furia
 en la luna
 en mi casa
 en mi mundo
 en todas partes
 en todos lados
 en tu cama
 en tu corazon
 en tu mente
 en tus sueños
 en un lugar llamado mundo
 en una piña debajo del mar
 endor
 enter
 eptx
 ergens
 eric foremans basement
 errejota
 erskine
 estadio santiago bernabeu
 estadio santiago bernabéu
 etihad stadium
 eu
 europa
 europe
 euskal herria
 every where
 everywhere
 everywhere
 everywhere and anywhere
 everywhere and nowhere
 everywhere usa
 everywhere you wanna be
 everywhere you want to be
 everywhere your not
 exo planet
 exoplanet
 f
 facebookcom
 fairyland
 fargo
 fenerbahce
 fenerbahçe
 fim do mundo
 find me
 finisterre
 follows you
 forest of dean
 fortress of solitude
 friendzone
 front of you
 fuck you
 fuk
 galatasaray
 galaxy
 gc
 genovia
 georgetown
 german
 glasvegas
 global
 gmt 7
 gods country
 gods hands
 gods kingdom
 gone
 google it
 gotham
 gotham city
 gr
 grand cayman
 grand cayman cayman islands
 grave
 great state of texas
 grove street
 gryffindor
 gta
 gym
 gz
 hakuna matata
 halloween town
 hamilton
 happiness
 hatimu
 heart
 heart of dixie
 heaven
 hell
 hellas
 hellcife
 hells kitchen
 here
 here and now
 here and there
 here there everywhere
 heryer
 heryerde
 hi
 hidalgo
 hier
 hillcrest
 hobbiton
 hoenn
 hogwarts
 hollywoodland
 home
 home sweet home
 honeymoon avenue
 honeymoon ãve
 hotel california
 house
 houstalantavegas
 houstatlantavegas
 hp
 humanoid city
 hyrule
 i
 ict
 idris
 ie
 ill be around
 im everywhere
 im right here
 in a galaxy far far away
 in a pineapple under the sea
 in a world of my own
 in bed
 in front of you
 in heaven
 in my bed
 in my head
 in my house
 in my own lane
 in my own world
 in my own zone
 in my skin
 in my world
 in my zone
 in space
 in the gym
 in the moment
 in the sky
 in the studio
 in the world
 in this world
 in transit
 in ur heart
 in ur mind
 in wonderland
 in your bed
 in your dream
 in your dreams
 in your eyes
 in your face
 in your head
 in your heart
 in your heart
 in your heart ♥
 in your heart♥
 in your mind
 in your pants
 in your timeline
 indonesia  malaysia
 indonesia raya
 indonesia tercinta
 inglaterlanda
 inland empire
 inland empire ca
 instagram
 international
 internet
 invernalia
 iphone
 island
 island of misfit toys
 isle of skye
 içinden
 j
 j town
 jamrock
 jannah
 japanese
 jay bee
 jc
 jdt
 jekardah
 jersey shore
 jerseyyy
 jf
 johor darul tazim
 jozi maboneng
 jtown
 jupiter
 jurassic park
 justin bieber
 juventus stadium
 júpiter
 jüpiter
 k
 kame house
 kathniel world
 kedahan
 kfc
 killa cali
 killadelphia
 kingdom of god
 kingdom of heaven
 kings landing
 kitchen
 kolong langit
 konoha
 konohagakure
 korat
 korean
 kota pahlawan
 kr
 krypton
 ktn
 ktown
 ktx
 ku
 kuta rock city
 kuwait ❤
 l
 la baby
 la bombonera
 la la land
 la tierra
 la union
 lala land
 lalaland
 land of ooo
 land of oz
 langley
 lany
 las gidi
 lasgidi
 latin america
 latina
 latino america
 latinoamerica
 latinoamérica
 ldn
 leedssheffield
 lehigh valley
 lejos
 lfk
 liberty city
 life
 light
 limbo
 loading
 local
 location
 london bridge
 londonparis
 look behind you
 look up
 los angles
 loserville
 lost
 love
 lua
 luna
 lv
 lx
 m
 maclarens pub
 madtown
 maftown
 manchester
 manchester united
 mancunia
 map it
 margaritaville
 margem sul
 mars
 marte
 masshole
 matrix
 mayfair
 mc
 mcz
 mdc
 mdq
 mengikuti anda
 merkezinde
 metropolis
 mhk
 mi cama
 mi casa
 mi casita
 middle earth
 middle east
 middleearth
 midgar
 milagro
 milanello
 milky way
 milkyway
 minas tirith
 minecraftia
 minha casa
 minnesnowta
 mizzou
 mks
 mla
 mondo
 monticello
 moon
 mother earth
 mount olympus
 mt olympus
 mundo
 mundo da lua
 murder mitten
 mushroom kingdom
 mustafa kemal atatürk
 my bed
 my home
 my house
 my own little world
 my room
 my world
 mystic falls
 n
 na
 na coxa do harry
 na merda
 na minha casa
 na sua
 naboo
 naija
 namek
 narnia
 narnia♥
 nashvegas
 national
 nationwide
 near you
 neptune
 neptuno
 never land
 never never land
 neverland
 neverwhere
 new jerusalem
 new world
 next door
 next to you
 ni
 nig
 nirvana
 no
 no where
 nomad
 nomaden
 nomadic
 none
 none of your business
 nord
 norn iron
 norte
 north
 north america
 north east
 north pole
 north west
 northeast
 northern hemisphere
 northside
 northwest
 not found
 not here
 nova
 nowhere
 nowhere and yet everywhere
 nowhere land
 nowhere to be found
 nowhereland
 nunca jamas
 nunca jamás
 nusantara
 nw
 nyc metro
 o
 ocean
 oil city
 old trafford
 old trafford manchester
 old traffordmanchester
 olimpo
 olympus
 omnipresent
 omnipresente
 on earth
 on mars
 on my way
 on the court
 on the earth
 on the field
 on the moon
 on the move
 on the road
 on top
 on top of the world
 on tour
 on your screen
 onder je bed
 online
 ooo
 ortasında
 out and about
 out here
 out of this world
 out there
 outchea
 outer space
 outerspace
 over here
 over the rainbow
 over there
 overal
 overal en nergens
 overseas
 ovunque
 owl city
 oz
 pacific nw
 pale blue dot
 palestra itália
 pandora
 panem
 paradise
 paradise city
 paradise island
 partout
 parts unknown
 paterson
 país de las maravillas
 país de nunca jamás
 pcの前
 penny lane
 perdida
 perfil
 perlas ng silangan
 pg
 phs
 pi
 pineapple under the sea
 pink ocean
 pistolvania
 pizza planet
 places
 planet bumi
 planet earth
 planet namek
 planet vegeta
 planeta tierra
 playa maguadel
 pluto
 pontypool
 ponyville equestria
 por ahi
 por ahí
 por ai
 por aí
 port city
 pr
 pueblo paleta
 pzo
 qtr
 r
 rain city ☂
 rain city☂
 rainbow
 raincity☂
 raleighwood
 random
 rd
 real madrid
 reality
 reconquista
 rehab
 rep popular do corinthians
 rgv
 right behind you
 right here
 right here right now
 right where i need to be
 rip city
 rivendell
 river plate
 rlyeh
 roc
 rock city
 rosewood
 rp
 ruh
 ruhrpott
 rumah
 république démocratique du con
 s
 sa
 sa puso mo
 salem
 sampa city
 sams town
 san marvelous
 san siro
 sandy eggo
 sanse
 santiago bernabeu
 santiago bernabéu
 santiasco
 santiasko
 sapphire blue ocean
 saturn
 satürn
 sb
 scandinavia
 school
 sconnie
 se
 sea
 searching
 secret
 segunda estrella a la derecha
 selma
 shangrila
 shinee world
 silent hill
 single
 sir matt busby way
 sivar
 six feet under the stars
 sjcampos
 sky
 sky high
 skyrim
 slytherin
 sm
 smashville
 solar system
 some where
 somewhere
 somewhere awesome
 somewhere down the road
 somewhere i belong
 somewhere in africa
 somewhere in america
 somewhere in between
 somewhere in brooklyn
 somewhere in california
 somewhere in europe
 somewhere in neverland
 somewhere in the universe
 somewhere in the world
 somewhere in this world
 somewhere on earth
 somewhere only we know
 somewhere out there
 somewhere over the rainbow
 somewhere your not
 south
 south america
 south bay
 south east
 south east asia
 south side
 south west
 southeast
 southeast asia
 southern africa
 southside
 southwest
 space
 spaceship earth
 spore
 stabat
 stamford bridge
 stamford bridge london
 starbucks
 storybrooke
 stranger
 straya
 street
 stretford end
 studio
 summoners rift
 sur
 surga
 swfl
 t gooi
 taco bell
 tahiti
 tally
 tamriel
 tanah air
 tanah air indonesia
 tanta
 tardis
 tatooine
 tba
 tc
 teh internets
 telapak kaki ibu
 terabithia
 terra
 terra do nunca
 terre
 the a
 the bank
 the bat cave
 the batcave
 the beach
 the boro
 the burg
 the burgh
 the cloud
 the clouds
 the court
 the d
 the death star
 the desert
 the earth
 the fort
 the globe
 the good life
 the great northwest
 the grid
 the gym
 the heights
 the hill
 the hills
 the hood
 the internet
 the island
 the island of misfit toys
 the kingdom
 the land of ooo
 the moon
 the north
 the ocean
 the road
 the rock
 the shire
 the shire middle earth
 the sky
 the stars
 the studio
 the tardistardis
 the top
 the town
 the universe
 the village
 the void
 the woods
 the world
 the world that never was
 the zoo
 theatre of dreams
 there
 theythem
 thuis
 tierra
 timur
 titletown usa
 to
 tomorrowland
 top of the world
 tortuga
 toxicity
 trabajo
 trabzonspor
 transylvania
 traveling
 travelling
 tui
 tw
 twente
 twitter takipçi kazanma hilesi i̇çin tiklayin
 twitterland
 twıtter hd
 twıtter up
 u
 ua
 uk wide
 un lugar llamado mundo
 under the sea
 under the sky
 under your bed
 underground
 undetected
 undisclosed
 union
 universal
 universe
 universo
 unknown
 unpredictable
 up
 up north
 uptown
 us
 usofa
 utopia
 valhalla
 valles del tuy
 various
 vb
 venus
 venüs
 versailles
 via láctea
 vip
 viva las vegas
 vix
 wall street
 walt disney world
 wanderlust
 wc
 web
 west
 west africa
 west coast
 west side
 western hemisphere
 westfield
 westside
 westville
 where ever
 where ever life takes me
 where ever you want me to be
 where i am
 where i need to be
 where i want to be
 where im at
 where im meant to be
 where im supposed to be
 where the cash at
 where the money at
 where the streets have no name
 where the wild things are
 where u wanna b
 where u wanna be
 where you wanna be
 wherever i am
 wherever i want
 wherever life takes me
 wherever the wind takes me
 wherever you are
 white hart lane
 who cares
 who knows
 with carmen sandiego
 wolves
 wonderland
 wonderland
 wonderland ♥
 work
 world
 world traveler
 world wide
 world wide web
 worldwide
 wouldnt you like to know
 www
 xoxo
 xx
 yay area
 yes
 yk
 ykt
 ynwa
 yolo
 yorkshire and the humber
 your bed
 your dreams
 your heart
 your house
 your mind
 your moms house
 your timeline
 yönetici
 zion
 zn
 ®
 ¯ツ¯
 ütopya
 δ
 ад
 дом
 дома
 ленинград
 марс
 нарния
 хогвартс
 че
 أرض الله الواسعة
 أعم
 ا
 ارض الله الواسعه
 استغفر الله
 استغفر الله العظيم
 استغفر الله واتوب اليه
 استغفرالله
 استغفرالله واتوب اليه
 الجنوب
 الحمدلله
 الخاص ممنوع
 الخاص مهمل
 العين
 الكويت الحبيبه
 الله اكبر
 المريخ
 ام الدنيا
 بابل
 بيتنا
 تابعني اتابعك
 دار جابر
 دار زايد
 سبحان الله
 سبحان الله العظيم
 سبحان الله وبحمده
 عربي
 في ارض الله الواسعه
 كويت العز
 لا إله إلا الله
 لا إله إلا الله محمد رسول الله
 لا اله الا الله
 لا اله الا الله محمد رسول الله
 لااله الا الله
 لجزيرة العربية
 مصر ام الدنيا
 ممنوع الخاص
 وطن النهار
 ً
 َ
 ॐ
 ดาวพลูโต
 ดาวอังคาร
 นักศึกษา
 นักเรียน
 บ้าน
 ผู้จัดการ
 เจ้าของกิจการ
 โลกส่วนตัว
 โสด
 ღ
 ‎
 ‏
 †
 •
 …
 ₪ ø lll ·o
 ™
 ∆
 ∞
 └a
 ▲
 △
 ► wwwtakipcibabacom
 ▼
 ◢◤
 ☀
 ☀️
 ☁
 ☁☁☁
 ☁️
 ☂
 ☃
 ★
 ☆
 ☠
 ☪
 ☮
 ☯
 ☺
 ☻
 ☼
 ☾
 ♀
 ♉️
 ♋
 ♔
 ♕
 ♛
 ♡
 ♡♡
 ♡♡♡
 ♡♥
 ♥
 ♥♥
 ♥♥♥
 ♪
 ♬
 ⚓
 ⚓️
 ⚽
 ⚽️
 ✈
 ✈️
 ✋
 ✌
 ✌️
 ✔ verified account
 ✖
 ✝
 ✞
 ✨
 ❁
 ❤
 ❤❤
 ❤❤❤
 ❤️
 ❥
 。
 あ
 あそこ
 あなたの後ろ
 あなたの心の中
 いえ
 いしかわ
 いなか
 うつくしまふくしま
 うどん
 うどん県
 おうち
 おふとん
 おーさか
 お家
 お布団
 お布団の中
 お花畑
 かごんま
 かんさい
 きょーと
 くまもん
 こ↑こ↓
 ここ
 ここ。
 ここではないどこか
 こたつ
 こたつの中
 さっぽこ
 じゃぱーん
 じゃぽん
 せんだい
 そこらへん
 そのへん
 その辺
 ださいたま
 ちきゅう
 ちーばくん
 でっかいどう
 どこか
 どっか
 にっぽん
 にーがた
 ばーちー
 ふとん
 やまなし
 ゆかり王国
 オフトゥン
 カントー地方
 グンマー
 グンマー帝国
 ゲーセン
 ゴミ箱
 サイタマ
 サイレントヒル
 ジャパン
 チーバくん
 ツ
 トイレ
 ナメック星
 ネバーランド
 パソコンの前
 マサラタウン
 ムーミン谷
 ㅤ
 三次元
 不思議の国
 不明
 世界
 世界の中心
 中国地方
 二次元と三次元の狭間
 京の都
 佐世保鎮守府
 修羅の国
 北の国
 北の国から
 北の大地
 北関東
 北陸
 千葉 関東地方
 千葉県北西部
 南関東
 古都
 名古屋市内
 名古屋県
 地上
 地球
 地球のどこか
 地球上
 埼玉県北部
 夢の中
 夢の国
 大和
 大日本帝国
 大都会
 大阪→東京
 大阪ミナミ
 天下の台所
 天国
 天朝
 太陽系第三惑星
 布団
 布団の中
 底辺
 彩の国
 新世界
 日本のどっか
 日本国内
 月
 杜の都
 杜王町
 東京のどっか
 東京の田舎
 東京の端っこ
 東京下町
 東京砂漠
 東京都在住
 東日本
 東海地方
 森の中
 極東
 海
 海の近く
 海外
 深海
 現在地
 田舎
 甲子園
 神出鬼没
 福岡→東京
 第三新東京市
 自宅
 舞鶴鎮守府
 葛西
 表参道
 西日本
 試される大地
 部屋
 都内某所
 銀河系
 関東地方
 陸の孤島
 雪国
 静岡県西部
 首都圏
 魔界
 魔都
 니마음속
 니맘속
 서우ㄹ
 설
 안드로메다
 어딘가
 여기
 우주
 지구
 지구별
 지구어딘가
 집
 
 
 ️
 ｵﾌﾄｩﾝ
 🇰🇼

In [6]:
print('Remove bad locations...')
start = timer()

locations = locations[-locations['LOCATION'].apply(
lambda x:x.lower().strip().strip('\n').translate(str.maketrans('', '', string.punctuation)) in bad_locations)].copy()

locations = locations[-locations['LOCATION'].apply(lambda x:'twitter' in x.lower())].copy()

print('# Locations:',locations.shape[0])
print('#Users At Sampled Locations:',locations['N'].sum())

print("Done in", round(timer()-start), "sec")

Remove bad locations...
# Locations: 41526
#Users At Sampled Locations: 9085577
Done in 1 sec

In [7]:
print('Keep Phone Codes:')

phone_codes = locations.loc[(locations['LOCATION'].apply(lambda x:'+' in x))].copy()

print('# Phone Codes:', phone_codes.shape[0])

Keep Phone Codes:
# Phone Codes: 20

In [8]:
phone_codes.head()

      LOCATION                        POINT     N
688        +62        (-5.86454, 106.62741)  1883
2582       +65         (1.4607, 103.763443)   508
5901      +965   (29.09105374, 46.85423523)   211
8491      +254     (-1.0941961, 36.2774081)   143
12956    +6221  (-6.25490778, 107.06305685)    91

In [9]:
def has_digit(x):
    
    # Above N = 25, A few phone codes, mostly noise.
    # Below N = 5: Some phone codes, Some geocoordinates, Some zipcodes.
    
    return bool(re.search(r'\d', x))

print('Remove locations with any digit...')
start = timer()

locations = locations.loc[-locations['LOCATION'].apply(has_digit)].copy()
print('# Locations:',locations.shape[0])
print('#Users At Sampled Locations:',locations['N'].sum())

print("Done in", round(timer()-start), "sec")

Remove locations with any digit...
# Locations: 41178
#Users At Sampled Locations: 9054796
Done in 0 sec

In [10]:
def is_punctuation(x):
    invalidChars = frozenset(string.punctuation)
    if all(char in invalidChars for char in x):
        return True
    else:
        return False
    
print('Remove locations with ONLY punctuation...')
start = timer()

locations = locations.loc[-locations['LOCATION'].apply(is_punctuation)].copy()
print('# Locations:',locations.shape[0])
print('#Users At Sampled Locations:',locations['N'].sum())

print("Done in", round(timer()-start), "sec")

Remove locations with ONLY punctuation...
# Locations: 41178
#Users At Sampled Locations: 9054796
Done in 0 sec

In [11]:
def is_space(x):
    return x.isspace()

print('Remove locations with only white space...')
start = timer()

locations = locations.loc[-locations['LOCATION'].apply(is_space)].copy()
print('# Locations:',locations.shape[0])
print('#Users At Sampled Locations:',locations['N'].sum())

print("Done in", round(timer()-start), "sec")

Remove locations with only white space...
# Locations: 41178
#Users At Sampled Locations: 9054796
Done in 0 sec

In [12]:
def has_punctuation(x):
    
    # Weird punctuations are often a good predictor of a bad location. Yet, we saved some:
    # '.' used e.g. in Washington, D.C. Mexico, D.F., etc.
    # '-' often used in <city> - <country>
    # '()' often used in <city> (<country>)
    # '/' used to indicate states in Brazil
    # '!, |, _, :)' used in valid locations and bad ones that were removed up to N=25
    # Removes 3% of locations

    x = x.replace(':)','')
    x = x.replace(
    'Trinidad & Tobago','Trinidad and Tobago').replace(
    'Trinidad & Tobago','Trinidad and Tobago').replace(
    'Trinidad&Tobago','Trinidad and Tobago').replace(
    'Brighton & Hove','Brighton and Hove').replace(
    '#Puebla','Puebla').replace(
    '@istanbul','istanbul').replace(
    'Trinidad&Tobago','Trinidad and Tobago').replace(
    'Trinidad & Tobago ','Trinidad and Tobago').replace(
    '@jakarta','jakarta').replace(
    '@Thailand','Thailand').replace(
    'Buenos Aires; Argentina','Buenos Aires, Argentina')
    
    invalidChars = frozenset(
    string.punctuation.replace(
    '_','').replace(
    ',','').replace(
    '.','').replace(
    '-','').replace(
    '/','').replace(
    "'","").replace(
    "(","").replace(
    ")","").replace(
    "!","").replace(
    "|",""))
    
    if any(char in invalidChars for char in x):
        return True
    else:
        return False

print('Remove locations with some punctuation...')
start = timer()

locations = locations.loc[-locations['LOCATION'].apply(has_punctuation)].copy()
print('# Locations:',locations.shape[0])
print('#Users At Sampled Locations:',locations['N'].sum())

print("Done in", round(timer()-start), "sec")

Remove locations with some punctuation...
# Locations: 41115
#Users At Sampled Locations: 9050984
Done in 0 sec

In [13]:
def is_empty(x):
    if not x:
        return True
    else:
        return False
    
print('Remove Empty Locations...')
start = timer()
   
locations = locations.loc[-locations['LOCATION'].apply(is_empty)].copy()
print('# Locations:',locations.shape[0])
print('#Users At Sampled Locations:',locations['N'].sum())

print("Done in", round(timer()-start), "sec")

Remove Empty Locations...
# Locations: 41115
#Users At Sampled Locations: 9050984
Done in 0 sec

In [14]:
print('Selected Locations to be Geocoded...')
start = timer()

locations = pd.concat([locations,
#                        phone_codes,
                      ]).sort_values(by='N',ascending=False).reset_index(drop=True)
print('# Selected Locations:',locations.shape[0])
print('#Users At Selected Locations:',locations['N'].sum())

locations.head()

Selected Locations to be Geocoded...
# Selected Locations: 41115
#Users At Selected Locations: 9050984

      LOCATION                         POINT      N
0    Indonesia         (-5.53034, 106.54255)  98240
1       London     (49.01730709, 1.43906842)  88896
2       Brasil  (-17.99120486, -45.60141543)  70885
3      Jakarta   (-5.19392835, 103.92920358)  55842
4  Philippines       (14.604133, 120.017236)  51989

# Reverse Geocode Representative Point

In [15]:
print("Reverse geocode representative point...")
start = timer()

reversed_geocodes = pd.DataFrame(rg.search(list(locations['POINT'].values))).drop(
['lat','lon','name','admin1','admin2'],1).rename(columns=lambda x:x.upper())
print('# Geocodes:',reversed_geocodes.shape[0])

reversed_geocodes['COUNTRY'] = reversed_geocodes['CC'].apply(lambda x:countries.get(x).name)

locations = pd.concat([locations,reversed_geocodes],1)

del reversed_geocodes

print("Done in", round(timer()-start), "sec")

Reverse geocode representative point...
Loading formatted geocoded file...
# Geocodes: 41115
Done in 2 sec

# Save

In [16]:
print('Save selected locations to be geocoded:')
start = timer()

locations.to_pickle(path_to_output_files+'account-locations-to-geocode.pkl')

print("Done in", round(timer()-start), "sec")

Save selected locations to be geocoded:
Done in 0 sec

In [17]:
locations.head(10)

      LOCATION                         POINT      N  CC      COUNTRY
0    Indonesia         (-5.53034, 106.54255)  98240  ID    Indonesia
1       London     (49.01730709, 1.43906842)  88896  FR       France
2       Brasil  (-17.99120486, -45.60141543)  70885  BR       Brazil
3      Jakarta   (-5.19392835, 103.92920358)  55842  ID    Indonesia
4  Philippines       (14.604133, 120.017236)  51989  PH  Philippines
5     İstanbul    (40.78565557, 28.87995098)  50755  TR       Turkey
6     istanbul     (40.76090685, 28.8750945)  39241  TR       Turkey
7    indonesia        (-5.3072557, 106.6885)  39057  ID    Indonesia
8    Argentina    (-31.9880371, -59.2789376)  36977  AR    Argentina
9      Bandung   (-6.74666667, 105.33361111)  33295  ID    Indonesia