In [1]:
import os
import pandas as pd
import socket

In [12]:
if 'samuel' in socket.gethostname().lower():
    path_to_data='../../data'
else:
    path_to_data='/scratch/spf248/twitter/data'

In [13]:
df=pd.read_excel(os.path.join(path_to_data,'official','country','haver.xlsx'),sheet_name='NSA')

In [14]:
country2code={
'Argentina':'AR',
'U.S.':'US',
'Brazil':'BR',
'Chile':'CL',
'Colombia':'CO',
'Indonesia':'ID',
'Malaysia':'MY',
'Peru':'PE',
'Philippines':'PH',
'Thailand':'TH',
'Mexico':'MX',
'Venezuela':'VE',
}

In [15]:
monthly=df.iloc[:,0:12].drop(['Unnamed: 2','200801 *M'],1,errors='ignore')
monthly.columns=monthly.loc[0]
monthly=monthly.iloc[9:].copy()
monthly.index=monthly.iloc[:,0]
monthly=monthly.iloc[:,1:].copy()
monthly.rename(columns=lambda x:x.split(':')[0],inplace=True)
monthly.rename(columns=lambda x:country2code[x],inplace=True)
monthly.index.name='date'
monthly=monthly.astype(float)
monthly/=100
monthly=monthly[monthly.index.notnull()].copy()
monthly=monthly.sort_index(0).sort_index(1)
monthly=monthly.truncate(before='1/1/2010')
monthly.to_csv(os.path.join(path_to_data,'official','country','time_series_unemployment_rate.csv'))

In [16]:
# quarterly=df.iloc[:,16:].copy()
# quarterly.columns=quarterly.loc[0]
# quarterly=quarterly.iloc[9:].copy()
# quarterly.index=quarterly.iloc[:,0]
# quarterly=quarterly.iloc[:,1:].copy()
# quarterly.rename(columns=lambda x:x.split(':')[0],inplace=True)
# quarterly.rename(columns=lambda x:country2code[x],inplace=True)
# quarterly.index.name='date'
# quarterly=quarterly.astype(float)
# quarterly=quarterly[quarterly.index.notnull()].copy()
# quarterly=quarterly.sort_index(0).sort_index(1)
# quarterly=quarterly.truncate(before='1/1/2010')
# quarterly.to_csv(os.path.join(path_to_data,'official','aggregates','quarterly.csv'))

In [18]:
monthly.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 125 entries, 2010-01-31 to 2020-05-31
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   BR      98 non-null     float64
 1   CL      124 non-null    float64
 2   CO      124 non-null    float64
 3   MX      124 non-null    float64
 4   MY      123 non-null    float64
 5   PE      123 non-null    float64
 6   TH      123 non-null    float64
 7   US      125 non-null    float64
 8   VE      108 non-null    float64
dtypes: float64(9)
memory usage: 9.8 KB

In [17]:
monthly.head()

0           BR       CL     CO      MX     MY     PE      TH     US     VE
date
2010-01-31 NaN  0.09904  0.146  0.0576  0.035  0.093  0.0140  0.106  0.102
2010-02-28 NaN  0.09330  0.126  0.0528  0.035  0.105  0.0100  0.104  0.086
2010-03-31 NaN  0.09200  0.118  0.0474  0.035  0.077  0.0096  0.102  0.087
2010-04-30 NaN  0.08800  0.122  0.0535  0.030  0.088  0.0118  0.095  0.082
2010-05-31 NaN  0.09100  0.120  0.0500  0.033  0.067  0.0154  0.093  0.081

In [19]:
monthly.describe()

,BR,CL,CO,MX,MY,PE,TH,US,VE
count,98.000000,124.000000,124.000000,124.000000,123.000000,123.000000,123.000000,125.000000,108.000000
mean,0.098612,0.069946,0.100903,0.043363,0.032130,0.067854,0.009069,0.062936,0.074704
std,0.024506,0.007737,0.016503,0.007827,0.002315,0.011641,0.002225,0.022928,0.009711
min,0.062000,0.058000,0.073000,0.029100,0.026000,0.046000,0.003900,0.033000,0.055000
25%,0.073250,0.065000,0.090000,0.035700,0.031000,0.059500,0.007500,0.044000,0.068000
50%,0.109500,0.069500,0.097000,0.044800,0.033000,0.067000,0.009300,0.056000,0.073000
75%,0.120000,0.073000,0.109000,0.049925,0.034000,0.074000,0.010400,0.082000,0.080000
max,0.137000,0.099040,0.198000,0.057600,0.039000,0.111000,0.015400,0.144000,0.104000