In [2]:
import os
import pandas as pd
import socket

In [3]:
if 'samuel' in socket.gethostname().lower():
    path_to_data='../../data'
else:
    path_to_data='/scratch/spf248/twitter/data'

In [4]:
df=pd.read_excel(os.path.join(path_to_data,'official','aggregates','haver_062020.xlsx'),sheet_name='NSA')

In [6]:
country2code={
'Argentina':'AR',
'U.S.':'US',
'Brazil':'BR',
'Chile':'CL',
'Colombia':'CO',
'Indonesia':'ID',
'Malaysia':'MY',
'Peru':'PE',
'Philippines':'PH',
'Thailand':'TH',
'Mexico':'MX',
'Venezuela':'VE',
}

In [9]:
monthly=df.iloc[:,0:12].drop(['Unnamed: 2','200801 *M'],1,errors='ignore')
monthly.columns=monthly.loc[0]
monthly=monthly.iloc[9:].copy()
monthly.index=monthly.iloc[:,0]
monthly=monthly.iloc[:,1:].copy()
monthly.rename(columns=lambda x:x.split(':')[0],inplace=True)
monthly.rename(columns=lambda x:country2code[x],inplace=True)
monthly.index.name='date'
monthly=monthly.astype(float)
monthly=monthly[monthly.index.notnull()].copy()
monthly=monthly.sort_index(0).sort_index(1)
monthly=monthly.truncate(before='1/1/2010')
monthly.to_csv(os.path.join(path_to_data,'official','aggregates','monthly.csv'))

In [10]:
quarterly=df.iloc[:,16:].copy()
quarterly.columns=quarterly.loc[0]
quarterly=quarterly.iloc[9:].copy()
quarterly.index=quarterly.iloc[:,0]
quarterly=quarterly.iloc[:,1:].copy()
quarterly.rename(columns=lambda x:x.split(':')[0],inplace=True)
quarterly.rename(columns=lambda x:country2code[x],inplace=True)
quarterly.index.name='date'
quarterly=quarterly.astype(float)
quarterly=quarterly[quarterly.index.notnull()].copy()
quarterly=quarterly.sort_index(0).sort_index(1)
quarterly=quarterly.truncate(before='1/1/2010')
quarterly.to_csv(os.path.join(path_to_data,'official','aggregates','quarterly.csv'))

In [11]:
monthly.head()

0           BR     CL    CO    MX   MY    PE    TH    US    VE
date
2010-01-31 NaN  9.904  14.6  5.76  3.5   9.3  1.40  10.6  10.2
2010-02-28 NaN  9.330  12.6  5.28  3.5  10.5  1.00  10.4   8.6
2010-03-31 NaN  9.200  11.8  4.74  3.5   7.7  0.96  10.2   8.7
2010-04-30 NaN  8.800  12.2  5.35  3.0   8.8  1.18   9.5   8.2
2010-05-31 NaN  9.100  12.0  5.00  3.3   6.7  1.54   9.3   8.1