In [1]:
import os
from timeit import default_timer as timer
from glob import glob
import pandas as pd

In [2]:
country_code = "MX"

if os.getenv('CLUSTER')=='PRINCE':
    path_to_data='/scratch/spf248/twitter/data'
else:
    path_to_data='../../data'

In [37]:
labor_market_stats=pd.read_csv(os.path.join(path_to_data,'official','urban',country_code,'labor_market_stats.csv'),index_col=0)
labor_market_stats.rename(columns={'value':'unemployment_rate'},inplace=True)
labor_market_stats['date']=pd.to_datetime(labor_market_stats.apply(lambda x:str(x['year'])+'-Q'+str(x['quarter']),1)) + pd.offsets.QuarterEnd(0)
labor_market_stats['month'] = labor_market_stats['date'].apply(lambda x:x.month)
labor_market_stats = labor_market_stats[['year','month','metro_area_name','unemployment_rate']].sort_values(
by=['year','month','metro_area_name']).reset_index(drop=True)

In [38]:
labor_market_stats

      year  month metro_area_name  unemployment_rate
0     2005      3        Acapulco           0.015069
1     2005      3  Aguascalientes           0.049498
2     2005      3            CDMX           0.059406
3     2005      3        Campeche           0.025822
4     2005      3          Cancun           0.030817
...    ...    ...             ...                ...
1973  2020      3         Torreon           0.048549
1974  2020      3          Tuxtla           0.045952
1975  2020      3        Veracruz           0.037169
1976  2020      3    Villahermosa           0.050355
1977  2020      3       Zacatecas           0.039123

[1978 rows x 4 columns]