In [33]:
import pandas as pd

In [34]:
def convert_labels_to_bool(label):
    if label == 'yes':
        return True
    elif label == 'no':
        return False

In [37]:
all_data_df = pd.read_pickle('/home/manuto/Documents/world_bank/bert_twitter_labor/code/twitter/data/jun2_multilabel/labels.pkl')
all_data_df.columns = ['tweet_id', 'text', 'is_unemployed', 'lost_job_1mo', 'job_search', 'is_hired_1mo','job_offer']
all_data_df = all_data_df[['tweet_id', 'text', 'lost_job_1mo', 'is_unemployed', 'job_search', 'is_hired_1mo', 'job_offer']]
# convert labels to int
for label in ['is_unemployed', 'lost_job_1mo', 'job_search', 'is_hired_1mo', 'job_offer']:
    all_data_df[label] = all_data_df[label].apply(convert_labels_to_bool)
    all_data_df = all_data_df[all_data_df[label].notna()].reset_index(drop=True)

In [62]:
all_data_df.head()

,tweet_id,text,lost_job_1mo,is_unemployed,job_search,is_hired_1mo,job_offer
0,470867540739383296,Is it true? 47% of Unemployed Americans Have J...,False,False,False,False,False
1,360093342517837824,"Unemployed, Under-Employed, Unhappily Employed...",False,False,False,False,True
2,458751933139132417,Currently Unemployed and Looking to Expand you...,False,False,False,False,False
3,703677501579497472,Been unemployed for awhile? Contracting can he...,False,False,False,False,True
4,375336349336739840,"Unemployed, Under-Employed, Unhappily Employed...",False,False,False,False,True

In [64]:
index_at_least_one_positive = (all_data_df[['is_unemployed', 'lost_job_1mo', 'job_search', 'is_hired_1mo', 'job_offer']].any(1)).where(all_data_df[['is_unemployed', 'lost_job_1mo', 'job_search', 'is_hired_1mo', 'job_offer']].any(1)).dropna().index
positive_df = all_data_df[all_data_df.index.isin(index_at_least_one_positive)]
positive_df.head()

,tweet_id,text,lost_job_1mo,is_unemployed,job_search,is_hired_1mo,job_offer
1,360093342517837824,"Unemployed, Under-Employed, Unhappily Employed...",False,False,False,False,True
3,703677501579497472,Been unemployed for awhile? Contracting can he...,False,False,False,False,True
4,375336349336739840,"Unemployed, Under-Employed, Unhappily Employed...",False,False,False,False,True
6,756003159357599744,Baby I'm a boss and yah man unemployed,False,True,False,False,False
7,342709055619477504,I wake up shower and put different pajamas bac...,False,True,False,False,False

In [65]:
positive_df.shape

(4782, 7)

In [66]:
negative_df = all_data_df[~all_data_df.index.isin(index_at_least_one_positive)]
negative_df.head()

,tweet_id,text,lost_job_1mo,is_unemployed,job_search,is_hired_1mo,job_offer
0,470867540739383296,Is it true? 47% of Unemployed Americans Have J...,False,False,False,False,False
2,458751933139132417,Currently Unemployed and Looking to Expand you...,False,False,False,False,False
5,552287219239878656,"So I guess""sports &amp; fishing enthusiast""is ...",False,False,False,False,False
8,568080447441375233,Why is my family always asking me for money ? ...,False,False,False,False,False
11,370964537878396928,BROWN RECLUSE IN THE BATHROOM AT WORK LETS JUS...,False,False,False,False,False

In [67]:
negative_df.shape

(4765, 7)

In [61]:
all_data_df.shape

(9547, 7)

In [19]:
(~all_data_df.all(1))

0       True
1       True
2       True
3       True
4       True
        ...
9542    True
9543    True
9544    True
9545    True
9546    True
Length: 9547, dtype: bool